<a href="https://colab.research.google.com/github/woodskd24/MentalHealthinTech/blob/main/MentalHealthTechAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This dataset is from a 2014 survey that measures attitudes towards mental health and frequency of mental health disorder

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("/content/drive/MyDrive/MHTechClean.csv")

In [6]:
df = df.drop(columns = "Unnamed: 0")

In [7]:
df

,Age,family_history,treatment,work_interfere,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,mental_health_consequence,phys_health_consequence,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,0,1,4,0,1,1,77,0,1,1,0,0,1,0,33,1,0
1,44,0,0,2,0,0,77,0,77,77,77,33,0,0,0,0,77,0
2,31,0,0,1,1,1,1,0,77,77,77,0,0,1,1,1,77,0
3,33,1,0,3,0,1,1,77,0,77,77,0,0,1,0,33,77,0
4,35,1,1,3,1,1,0,0,0,0,0,33,33,0,0,0,77,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,36,1,0,2,0,0,77,0,1,1,77,33,33,3,0,0,77,0
747,32,1,1,4,1,1,1,1,0,0,1,0,0,1,0,0,1,0
748,34,1,1,3,0,1,1,1,0,0,77,1,1,0,0,0,0,0
749,46,0,0,77,1,1,0,1,0,0,77,1,0,0,0,0,0,0
750,25,1,1,3,0,0,1,1,0,0,1,33,0,0,0,0,77,0

In [8]:
# df.loc[df[col] == "No", col] = 0
# df.loc[df[col] == "Yes", col] = 1
# df.loc[df[col] == "Don't know", col] = 77
# df.loc[df[col] == "Not sure", col] = 77 
# df.loc[df[col] == "Often", col] = 5
# df.loc[df[col] == "Rarely", col] = 2
# df.loc[df[col] == "Sometimes", col] = 4
# df.loc[df[col] == "Never", col] = 1 
# df.loc[df[col] == "Maybe", col] = 33 
# df.loc[df[col] == "Some of them", col] = 3

In [9]:
df.corrwith(df["seek_help"])

Age                         -0.059058
family_history              -0.028638
treatment                   -0.117836
work_interfere               0.072169
remote_work                  0.004996
tech_company                -0.023311
benefits                     0.352284
care_options                 0.268070
wellness_program             0.355133
seek_help                    1.000000
anonymity                    0.276594
mental_health_consequence    0.052515
phys_health_consequence     -0.003256
supervisor                   0.017690
mental_health_interview     -0.031763
phys_health_interview        0.045805
mental_vs_physical           0.168872
obs_consequence             -0.086328
dtype: float64

In [10]:
df.corrwith(df["treatment"])

Age                          0.052231
family_history               0.376338
treatment                    1.000000
work_interfere              -0.514192
remote_work                  0.023375
tech_company                 0.023565
benefits                    -0.252201
care_options                -0.182492
wellness_program            -0.080847
seek_help                   -0.117836
anonymity                   -0.170645
mental_health_consequence    0.048504
phys_health_consequence      0.068049
supervisor                   0.003951
mental_health_interview     -0.098424
phys_health_interview       -0.078065
mental_vs_physical          -0.087414
obs_consequence              0.135798
dtype: float64

In [11]:
X = df[['tech_company']]
y = df['treatment']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [14]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [15]:
y_pred2  =  classifier.predict(X_test)

In [16]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred2)
meanSqErr = metrics.mean_squared_error(y_test, y_pred2)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred2))
print('R squared: {:.2f}'.format(classifier.score(X_train,y_train)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 54.29
Mean Absolute Error: 0.47345132743362833
Mean Square Error: 0.47345132743362833
Root Mean Square Error: 0.688077995167429

In [17]:
from sklearn.linear_model import LogisticRegression
slr = LogisticRegression()  
slr.fit(X_train, y_train)

LogisticRegression()

In [18]:
y_pred_slr= slr.predict(X_test)

In [19]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_slr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_slr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_slr))
print('R squared: {:.2f}'.format(slr.score(X_train,y_train)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 54.67
Mean Absolute Error: 0.4557522123893805
Mean Square Error: 0.4557522123893805
Root Mean Square Error: 0.6750942248230098

In [22]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(X_train, y_train)
y_pred3 = rf.predict(X_test)

In [23]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_slr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_slr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_slr))
print('R squared: {:.2f}'.format(slr.score(X_train,y_train)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 54.67
Mean Absolute Error: 0.4557522123893805
Mean Square Error: 0.4557522123893805
Root Mean Square Error: 0.6750942248230098

In [24]:
import xgboost as xgb
from scipy.stats import uniform, randint

In [25]:
xgb = xgb.XGBRegressor(objective="reg:linear", random_state=42)

x1 = xgb.fit(X_train, y_train, eval_set=[(X_test, y_test)])

y_pred1 = x1.predict(X_test)

[16:39:54] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.499614
[1]	validation_0-rmse:0.499312
[2]	validation_0-rmse:0.499076
[3]	validation_0-rmse:0.498895
[4]	validation_0-rmse:0.498756
[5]	validation_0-rmse:0.498651
[6]	validation_0-rmse:0.498572
[7]	validation_0-rmse:0.498514
[8]	validation_0-rmse:0.498472
[9]	validation_0-rmse:0.498443
[10]	validation_0-rmse:0.498424
[11]	validation_0-rmse:0.498412
[12]	validation_0-rmse:0.498406
[13]	validation_0-rmse:0.498405
[14]	validation_0-rmse:0.498405
[15]	validation_0-rmse:0.49841
[16]	validation_0-rmse:0.498415
[17]	validation_0-rmse:0.498421
[18]	validation_0-rmse:0.498428
[19]	validation_0-rmse:0.498435
[20]	validation_0-rmse:0.498442
[21]	validation_0-rmse:0.49845
[22]	validation_0-rmse:0.498458
[23]	validation_0-rmse:0.498464
[24]	validation_0-rmse:0.498471
[25]	validation_0-rmse:0.498477
[26]	validation_0-rmse:0.498483
[27]	validation_0-rmse:0.498489
[28]	validation_0-rmse:0.498493
[29]	validation_0-rmse:0.498498
[30]	validation_0-rmse:0.498502
[31]	validation_0-rmse:0.498506
[32]	validation_0-rmse:0.49851
[33]	validation_0-rmse:0.498514
[34]	validation_0-rmse:0.498517
[35]	validation_0-rmse:0.498519
[36]	validation_0-rmse:0.498522
[37]	validation_0-rmse:0.498524
[38]	validation_0-rmse:0.498526
[39]	validation_0-rmse:0.498528
[40]	validation_0-rmse:0.49853
[41]	validation_0-rmse:0.498531
[42]	validation_0-rmse:0.498533
[43]	validation_0-rmse:0.498534
[44]	validation_0-rmse:0.498535
[45]	validation_0-rmse:0.498536
[46]	validation_0-rmse:0.498537
[47]	validation_0-rmse:0.498538
[48]	validation_0-rmse:0.498539
[49]	validation_0-rmse:0.49854
[50]	validation_0-rmse:0.49854
[51]	validation_0-rmse:0.498541
[52]	validation_0-rmse:0.498542
[53]	validation_0-rmse:0.498542
[54]	validation_0-rmse:0.498542
[55]	validation_0-rmse:0.498542
[56]	validation_0-rmse:0.498543
[57]	validation_0-rmse:0.498543
[58]	validation_0-rmse:0.498543
[59]	validation_0-rmse:0.498544
[60]	validation_0-rmse:0.498544
[61]	validation_0-rmse:0.498544
[62]	validation_0-rmse:0.498544
[63]	validation_0-rmse:0.498544
[64]	validation_0-rmse:0.498544
[65]	validation_0-rmse:0.498544
[66]	validation_0-rmse:0.498543
[67]	validation_0-rmse:0.498543
[68]	validation_0-rmse:0.498544
[69]	validation_0-rmse:0.498544
[70]	validation_0-rmse:0.498544
[71]	validation_0-rmse:0.498544
[72]	validation_0-rmse:0.498544
[73]	validation_0-rmse:0.498544
[74]	validation_0-rmse:0.498544
[75]	validation_0-rmse:0.498544
[76]	validation_0-rmse:0.498544
[77]	validation_0-rmse:0.498544
[78]	validation_0-rmse:0.498545
[79]	validation_0-rmse:0.498544
[80]	validation_0-rmse:0.498544
[81]	validation_0-rmse:0.498544
[82]	validation_0-rmse:0.498545
[83]	validation_0-rmse:0.498545
[84]	validation_0-rmse:0.498544
[85]	validation_0-rmse:0.498544
[86]	validation_0-rmse:0.498544
[87]	validation_0-rmse:0.498544
[88]	validation_0-rmse:0.498545
[89]	validation_0-rmse:0.498545
[90]	validation_0-rmse:0.498544
[91]	validation_0-rmse:0.498544
[92]	validation_0-rmse:0.498545
[93]	validation_0-rmse:0.498544
[94]	validation_0-rmse:0.498544
[95]	validation_0-rmse:0.498544
[96]	validation_0-rmse:0.498544
[97]	validation_0-rmse:0.498544
[98]	validation_0-rmse:0.498544
[99]	validation_0-rmse:0.498544

In [26]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_slr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_slr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_slr))
print('R squared: {:.2f}'.format(slr.score(X_train,y_train)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 54.67
Mean Absolute Error: 0.4557522123893805
Mean Square Error: 0.4557522123893805
Root Mean Square Error: 0.6750942248230098

##Prediction

In [27]:
question = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_slr})
question.head()

     Actual value  Predicted value
690             1                1
602             1                1
389             0                1
537             1                1
90              1                1