<a href="https://colab.research.google.com/github/woodskd24/MentalHealthinTech/blob/main/MentalHealthTechClean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This dataset is from a 2014 survey that measures attitudes towards mental health and frequency of mental health disorder

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("/content/drive/MyDrive/survey.csv")

In [8]:
df

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,No,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,32,Male,United States,IL,No,Yes,Yes,Often,26-100,Yes,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,No,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,46,f,United States,NC,No,No,No,NaN,100-500,Yes,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,No,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [5]:
df = df.drop(columns = "Timestamp")

In [13]:
df1 = df[df["Country"] == "United States"]
df1

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
4,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,No,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
6,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,Yes,...,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,36,Male,United States,UT,No,Yes,No,Rarely,More than 1000,No,...,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No,NaN
1255,32,Male,United States,IL,No,Yes,Yes,Often,26-100,Yes,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,No,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,46,f,United States,NC,No,No,No,NaN,100-500,Yes,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,No,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [52]:
df = df1.drop(columns = "self_employed")
df = df.drop(columns = "no_employees")
df = df.drop(columns = "leave")
df = df.drop(columns = "comments")
df = df.drop(columns = "state")
df = df.drop(columns = "Country")
df = df.drop(columns = "coworkers")
df = df.drop(columns = "Gender")

In [53]:
df.head()

,Age,family_history,treatment,work_interfere,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,mental_health_consequence,phys_health_consequence,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,No,Yes,Often,No,Yes,Yes,Not sure,No,Yes,Yes,No,No,Yes,No,Maybe,Yes,No
1,44,No,No,Rarely,No,No,Don't know,No,Don't know,Don't know,Don't know,Maybe,No,No,No,No,Don't know,No
4,31,No,No,Never,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,No,No,Yes,Yes,Yes,Don't know,No
5,33,Yes,No,Sometimes,No,Yes,Yes,Not sure,No,Don't know,Don't know,No,No,Yes,No,Maybe,Don't know,No
6,35,Yes,Yes,Sometimes,Yes,Yes,No,No,No,No,No,Maybe,Maybe,No,No,No,Don't know,No

In [68]:
for col in df.columns:
 df.loc[df[col] == "No", col] = 0
 df.loc[df[col] == "Yes", col] = 1
 df.loc[df[col] == "Don't know", col] = 77
 df.loc[df[col] == "Not sure", col] = 77 
 df.loc[df[col] == "Often", col] = 5
 df.loc[df[col] == "Rarely", col] = 2
 df.loc[df[col] == "Sometimes", col] = 4
 df.loc[df[col] == "Never", col] = 1 
 df.loc[df[col] == "Maybe", col] = 33 
 df.loc[df[col] == "Some of them", col] = 3

In [69]:
df.head()

,Age,family_history,treatment,work_interfere,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,mental_health_consequence,phys_health_consequence,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,0,1,4,0,1,1,77,0,1,1,0,0,1,0,33,1,0
1,44,0,0,2,0,0,77,0,77,77,77,33,0,0,0,0,77,0
4,31,0,0,1,1,1,1,0,77,77,77,0,0,1,1,1,77,0
5,33,1,0,3,0,1,1,77,0,77,77,0,0,1,0,33,77,0
6,35,1,1,3,1,1,0,0,0,0,0,33,33,0,0,0,77,0

In [70]:
df.isnull().sum()

Age                          0
family_history               0
treatment                    0
work_interfere               0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
mental_health_consequence    0
phys_health_consequence      0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [71]:
df['work_interfere'] = df['work_interfere'].fillna(77)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 751 entries, 0 to 1258
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        751 non-null    int64
 1   family_history             751 non-null    object
 2   treatment                  751 non-null    object
 3   work_interfere             751 non-null    int64
 4   remote_work                751 non-null    object
 5   tech_company               751 non-null    object
 6   benefits                   751 non-null    object
 7   care_options               751 non-null    object
 8   wellness_program           751 non-null    object
 9   seek_help                  751 non-null    object
 10  anonymity                  751 non-null    object
 11  mental_health_consequence  751 non-null    object
 12  phys_health_consequence    751 non-null    object
 13  supervisor                 751 non-null    object
 14  mental_health_interview    751 non-null    object
 15  phys_health_interview      751 non-null    object
 16  mental_vs_physical         751 non-null    object
 17  obs_consequence            751 non-null    object
dtypes: int64(2), object(16)
memory usage: 127.6+ KB

In [73]:
df.iloc[:, 1:18] = df.iloc[:, 1:18].astype(int)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 751 entries, 0 to 1258
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        751 non-null    int64
 1   family_history             751 non-null    int64
 2   treatment                  751 non-null    int64
 3   work_interfere             751 non-null    int64
 4   remote_work                751 non-null    int64
 5   tech_company               751 non-null    int64
 6   benefits                   751 non-null    int64
 7   care_options               751 non-null    int64
 8   wellness_program           751 non-null    int64
 9   seek_help                  751 non-null    int64
 10  anonymity                  751 non-null    int64
 11  mental_health_consequence  751 non-null    int64
 12  phys_health_consequence    751 non-null    int64
 13  supervisor                 751 non-null    int64
 14  mental_health_interview    751 non-null    int64
 15  phys_health_interview      751 non-null    int64
 16  mental_vs_physical         751 non-null    int64
 17  obs_consequence            751 non-null    int64
dtypes: int64(18)
memory usage: 127.6 KB